body {
	background-color: #0099CC;
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	font-family: Arial;
	text-align: left;
}
form {
	margin: 0px;
	padding: 0px;
}
input, textarea {
	background-color: #FFFFFF;
	border: 1px solid #99CC66;
	font-family: Arial;
	font-size: 11px;
	margin: 2px;
	padding: 2px;
}



    .myButton {
        
        -moz-box-shadow: 0px 10px 14px -7px #276873;
        -webkit-box-shadow: 0px 10px 14px -7px #276873;
        box-shadow: 0px 10px 14px -7px #276873;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
        background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
        
        background-color:#599bb3;
        
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        border-radius:8px;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:18px;
        font-weight:bold;
        padding:13px 32px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #3d768a;
	cursor: pointer;
        
    }
    .myButton:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
        background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
        
        background-color:#408c99;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }



a:link {
	color: #003366;
	text-decoration: underline;
}
a:visited {
	color: #003366;
	text-decoration: underline;
}
a:hover {
	color: #FF6347;
	text-decoration: none;
}
.content {
	___width: 790px;
	width: 100%;
	border-left: 1px solid #336699;
	border-right: 1px solid #336699;
	background: #FFFFFF;
	text-align: left;
}
.top {
	color: #FFFFFF;
	font-family: Verdana;
	font-size: 11px;
	padding: 0px;
	text-align: center;
	background-color: #272E7F;
	padding: 5px;
}
.top_left {
    color: #FFFFFF;
	font-family: Verdana;
	font-size: 11px;
	margin-left: 10px;
	margin-top: 5px;
	text-align: left;
	float: left;
}
.top_right {
    color: #FFFFFF;
	font-family: Verdana;
	font-size: 16px;
	margin-right: 10px;
	margin-top: 5px;
	text-align: right;
	float: right;
}
.top_link:link {
	color: #FFFFFF;
	text-decoration: none;
}
.top_link:visited {
    color: #FFFFFF;
	text-decoration: none;
}
.top_link:hover {
    color: #FFFFFF;
	text-decoration: underline;
}
.admin_left {
	float: left;
	width: 19%;
	padding: 3px;
}
.admin_right {
	float: right;
	width: 79%;
	padding: 3px;
}
.content_box {
	border: 1px solid #0099CC;
	margin-bottom: 8px;
}
.content_box_header {
	background: #0099CC url(images/topbar.png);
	color: #FFFFFF;
	font-family: Arial;
	font-weight: bold;
	font-size: 11px;
	text-align: left;
	padding: 2px;
	padding-left: 4px;
	margin: 2px;
}
.content_box_2 {
	border: 1px solid #99CC66;
    margin-bottom: 8px;
}
.content_box_2_header {
	background: #99CC66 url(images/topbar2.png);
	margin: 2px;
	padding: 2px;
	padding-left: 4px;
	color: #FFFFFF;
	font-family: Arial;
	font-weight: bold;
	font-size: 11px;
	text-align: left;
}
.box_text {
	font-family: Arial;
	font-size: 14px;
	color: #333333;
	text-align: left;
    padding: 3px;
}
.content_text_left {
	float: left;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 2px;
}
.content_text_right {
	float: right;
	margin-top: 2px;
	margin-bottom: 2px;
}
.error_box {
	border: 1px solid #FF3300;
	margin-bottom: 4px;
	font-family: Arial;
	font-size: 11px;
	color: #FF3300;
	text-align: left;
    padding: 3px;
}
.game_feed_link:link {
	color: #003366;
	text-decoration: none;
}
.game_feed_link:visited {
    color: #CCCCCC;
	text-decoration: none;
}
.game_feed_link:hover {
    color: #FF6347;
	text-decoration: underline;
}
.template_link:link {
	color: #003366;
	text-decoration: none;
}

.template_link:visited {
    color: #003366;
	text-decoration: none;
}

.template_link:hover {
    color: #FF6347;
	text-decoration: none;
}
.log_in_box {
	border: 1px solid #336699;
	background-color: #FFFFFF;
	margin-top: 10%;
    width: 350px;
}
.log_in_box_text {
	font-family: Arial;
	font-size: 11px;
	text-align: center;
    margin: 5px;
}
.line {
	clear: both;
	margin-bottom: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #E8E8E8;
}

.classbold {
	font-weight: bold;
}

.asssdr1 {
    display: block;
}

.asssdr1 {
    ___height: 40px;
}

a.btn {
    color: #FFFFFF;
}

.onerow input, .onerow label {
    ___float:left;
}

.onerow {
  border: 1px solid #008000;
  float: left;
  margin: 5px;
  padding: 5px;
  background-color: #fff;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.category_more {
  background-color: #FFCC99;    
}

.category_more label:hover{
  background-color: #CCFFCC;    
}

.category_more label{
  width:100%;	
}


.tag_more {
  background-color: #CCFFCC;    
}

.tag_more label:hover{
  background-color: #FFCC99;    
}

.tag_more label{
  width:100%;	
}


.admin_left {}

.admin_right {}


.admin_left a:hover, .admin_left a:focus {
  color: red;
  text-decoration: underline;
}

.admin_right .form-control {
    padding: 10px;
    }